<html>
    <head>
        <title>HOME PAGE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
        <p class = "scritte">Milano è una tipica città di pianura, <br>che ha potuto espandersi in ogni direzione fino a conglobare<br> i Comuni vicini in un unico, grande centro urbano. <br>Milano è stata fondata dai Galli e conquistata poi dai Romani, <br>essa sorge in un punto strategico del territorio, al centro della Pianura Padana.</p>
    </body>
</html>