
<html>
    <head>
        <title>ARCO</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
        <p class = "scritte">Il Duomo di Milano, ufficialmente Cattedrale Metropolitana della Natività della Beata Vergine Maria, <br>è la cattedrale dell'arcidiocesi di Milano e monumento nazionale italiano. Simbolo del capoluogo lombardo, e situato nell'omonima piazza al centro della metropoli, è dedicata a santa Maria Nascente.</p>
    </body>
</html>