<html>
    <head>
        <title>MONUMENTI MILANO</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body class = "immagini">
        <a href="duomo"><img src = "{{url_for('static', filename='images/duomo.jpg')}}"></a>
        <a href="arco"><img src = "{{url_for('static', filename='images/arco.jpg')}}"></a>
        <a href="sansiro"><img src = "{{url_for('static', filename='images/sansiro.jpg')}}"></a>
        <a href="castello"><img src = "{{url_for('static', filename='images/castello.jpg')}}"></a>
    </body>
</html>